/* MOVE STYLESHEET */
/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Reqular.ttf");
}

@font-face {
    font-family: "Bowlby";
    src: url("../assets/fonts/BowlbyOneSC-Regular.ttf");
}

/* GENERAL LAYOUT */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: #ccc;
    color: #3b3c3c;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #00ff8b;
    word-wrap:break-word;
}

p {
    margin-bottom: 0.2em;
}

h3 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.4em;
}

/* SPECIAL LINKS */
.special-link ul {
    list-style-type: none;

    width: 200px;
    height: 30px;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.special-link ul .link-name {
    width: 176px;
    height: 26px;

    background: #fff;
    
    border: 2px solid #ccc;
    border-radius: 10px 0 0 10px;

    font-weight: bold;
    color: #3b3c3c;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.calendar-link ul {
    width: 450px;
}

.fb-link ul {
    width: 300px;
}

.calendar-link ul .link-name {
    width: 426px;
}

.fb-link ul .link-name {
    width: 282px;
}

.special-link ul .link-sign {
    width: 18px;
    height: 26px;

    background: #00ff8b;
    
    border: 2px solid #00ff8b;
    border-radius: 0 10px 10px 0;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.fb-link ul .link-sign {
    width: 22px;
    background: #3b5998;
    
    border: 2px solid #3b5998;
}

.special-link ul .link-sign img {
    width: 16px;
    height: auto;
}

/* HEADER */
#header {
    position: relative;

    width: 100vw;
    height: auto;

    background: #1b1c1c;
}

#header a #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    vertical-align: bottom;
    background: #3b3c3c;
}

#header .burgermenu-container {
    position: absolute;
    top: 25px;
    right: 25px;

    width: 50px;
    height: 50px;

    /* margin: 5px; */

    border-radius: 50%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#header  a #logo:hover {
    cursor: pointer;
}

#header .burgermenu-container .burgermenu {
    width: 30px;
    height: 30px;
}

/* MAIN NAVIGATION */

#main-navi {
    width: 100vw;
    min-height: 100px;
    height: 100px;

    background: #3b3c3c;
}

#main-navi .navi-list {
    list-style-type: none;

    width: 75vw;
    max-width: 1200px;
    height: 100px;

    margin: 0 auto;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

#main-navi .navi-list a li {
    font-family: "Bowlby", sans-serif;
    font-size: 1.2em;
    color: #fff;
}

#main-navi .navi-list a li:hover {
    color: #00ff8b;
}

/* HEADER BANNER */

.banner-container {
    width: 100vw;
    height: 300px;

    position: relative;

    overflow: hidden;
}

.banner-container .bg-img-blur {
    width: 100vw;
    height: 300px;

    background-image: url("../assets/img/ap_2019_05.jpg");
    background-size: cover;
    background-position-y: center;

    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.banner-container .banner-img {
    position: absolute;
    z-index: 20;

    width: 1200px;
    height: 300px;

    top: 0;
    margin-left: 50%;
    left: -608px;

    background-image: url("../assets/img/ap_2019_05.jpg");
    background-size: cover;
    background-position-y: center;
}

.banner-container .banner-info-bg {
    position: absolute;
    z-index: 30;

    width: 100vw;
    height: 300px;

    background: #000a;

    top: 0;
    left: 0;
}

.banner-container .banner-info-bg .banner-info {
    width: 1150px;
    height: 250px;

    margin: 0 auto;
    padding: 25px;
}

.banner-container .banner-info-bg .banner-info img {
    width: 400px;
    height: auto;
}

/* MAIN INHALT */
#inhalt {
    width: 1200px;
    height: auto;

    margin: 0 auto;
    padding: 2em 0;

    background: #fff;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.main-content {
    width: 700px;
    height: auto;

    margin: 2em 0;
}

.text-container ul {
    margin-left: 2em;
    margin-bottom: 1em;
}

.main-content .main-content-bottom {
    width: 656px;
    height: auto;

    padding: 1em 20px;
    
    background: #fff;

    overflow: hidden;

    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 0 0 15px 15px;
}

.main-content .maps {
    width: 700px;
    height: 400px;

    background: #1b1c1c;

    overflow: hidden;
}

.main-content .maps iframe {
    border: 2px solid #ccc;

    margin-top: -50px;
}

.where .where-top {
    width: 700px;
    height: 50px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}

.where .where-top .where-tab {
    width: 186px;
    height: 43px;

    padding-top: 5px;
    text-align: center;

    background: #fff;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 15px 15px 0 0;
}

.where .where-top .where-tab p {
    font-weight: bold;
}

.ueberschrift {
    width: 700px;
    height: auto;

    margin-top: 3em;
}

/* SLIDER */
.slider {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.slide {
    width: 330px;
    height: auto;

    margin-bottom: 2em;
}

.slide .slide-img {
    width: 326px;
    height: 188px;
    
    background: #1b1c1c;

    overflow: hidden;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 15px 15px 0 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.slide .slide-img img {
    width: 326px;
    height: auto;
}

.slide .slide-bottom {
    width: 286px;
    height: auto;

    padding: 1em 20px;
    
    background: #fff;

    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 0 0 15px 15px;
}

.slide .slide-bottom p {
    font-size: 87.5%;
    margin-bottom: 1em;
}

/* CALENDAR */
.calendar-top {
    width: 700px;
    height: 100px;

    background: #3b3c3c;

    border-radius: 15px 15px 0 0;
}

.calendar-top .mode {
    width: 700px;
    height: 50px;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.calendar-top .mode .cal-mode {
    width: 350px;
    height: 50px;

    border-radius: 15px 15px 0 0;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.calendar-top .mode .cal-mode:hover {
    cursor: pointer;
}

.calendar-top .mode .active:hover {
    cursor: default;
}

.calendar-top .mode .cal-mode p {
    color: #fff;
    font-weight: bold;
}

.calendar-top .date-dial {
    width: 700px;
    height: 50px;

    background: #00ff8b;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.calendar-top .date-dial .date-button {
    width: 45px;
    height: 30px;

    background: #3b3c3c;
    border-radius: 15px;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.calendar-top .date-dial .date-button img {
    height: 20px;
    width: auto;
}

.calendar-top .date-dial .date {
    width: 250px;
    text-align: center;
}
 
.calendar-top .date-dial .date p {
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

/* CALENDAR LIST */
.event-tab {
    list-style-type: none;

    position: relative;

    width: 650px;
    height: auto;

    margin: 1em auto;
    
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.event-tab:hover {
    cursor: pointer;
}

.event-tab .event-tab-content {
    position: relative;

    width: 546px;
    height: auto;

    padding: 10px 50px 10px 20px;

    border: 2px solid #ccc;
    border-radius: 15px 0 0 15px;
}

.event-tab .event-tab-content .et-titel,
.event-tab .event-tab-content .et-teaser,
.event-tab .event-tab-content .et-date,
.event-tab .event-tab-content .et-slots,
.event-tab .event-tab-content .et-text {
    margin-bottom: 1em;
}

.event-tab .event-tab-content .et-teaser,
.event-tab .event-tab-content .et-date,
.event-tab .event-tab-content .et-age,
.event-tab .event-tab-content .et-slots,
.event-tab .event-tab-content .et-text {
    font-size: 87.5%;
}

.event-tab .event-tab-content .et-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.event-tab .event-tab-content .klapper {
    position: absolute;

    width: 12px;
    height: auto;

    bottom: 2px;
    left: 50%;
}

.event-tab .color-mark {
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    right: 24px;
}

.event-tab .event-tab-sign {
    position: absolute;
    width: 24px;
    top: 0;
    bottom: 0;
    right: 0;

    background: #3b3c3c;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.event-tab .event-tab-sign p {
    color: #fff;
    font-weight: bold;
}

/* CALENDAR CLASSIC */
.calendar-body {
    width: 100%;
    height: auto;

    /* background: #f0f0f0; */
}

.calendar-row {
    width: 100%;
    height: auto;
    
    margin: 1em 0;

	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
}

.calendar-cell {
    position: relative;

    width: 10%;
    height: 4.4em;
    
    margin: 0 0.8%;
    padding: 0.2em 1%;

    overflow: hidden;
	
	border: 2px solid #ccc;
    border-radius: 5px;

    text-align: right;
    font-size: 1em;
}

.cell-button-bottom-bottom,
.cell-button-bottom,
.cell-button-middle,
.cell-button-top,
.cell-button-top-top,
.cell-button {
    position: absolute;

    left: 0;
    right: 0;

    display: flex;
	flex-flow: row;
	justify-content: center;
    align-items: center;
    
    color: #fff;
    font-weight: bold;
}

.cell-button {
    top: 0;
    bottom: 0;
}

.cell-button-top-top {
    top: 0;
    bottom: 66%;
}

.cell-button-top {
    top: 0;
    bottom: 50%;
}

.cell-button-middle {
    top: 33%;
    bottom: 33%;
}

.cell-button-bottom {
    top: 50%;
    bottom: 0;
}

.cell-button-bottom-bottom {
    top: 66%;
    bottom: 0;
}

.cell-button-bbl {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;

    display: flex;
	flex-flow: row;
	justify-content: center;
    align-items: center;
    
    color: #fff;
    font-weight: bold;
}

.cell-button-bbr {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;

    display: flex;
	flex-flow: row;
	justify-content: center;
    align-items: center;
    
    color: #fff;
    font-weight: bold;
}

/* .cell-button-bottom-bottom:hover,
.cell-button-bottom:hover,
.cell-button-middle:hover,
.cell-button-top:hover,
.cell-button-top-top:hover,
.cell-button:hover {
    cursor: pointer;
    background: #ffff66 !important;
    color: #3b3c3c;
} */

.cell-num {
    position: absolute;
    z-index: 6000000;

    right: 5px;
    top: 3px;
    
    color: #fff;
}

.calendar-cell-top {
    position: relative;

    width: 12%;
    height: auto;

    margin: 0 0.8%;
	
	border: 2px solid #ccc;
	border-radius: 5px;
}

/* ZITAT */
.main-content .main-content-img {
    width: 696px;
    height: 350px;
    
    overflow: hidden;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 15px 15px 0 0;
}

.main-content .main-content-img img {
    width: 696px;
    height: auto;

    margin-top: -50px;
}

/* KONTEXT BILDER */
.kontext-bild {
    position: relative;

    width: 696px;
    height: 396px;

    overflow: hidden;

    border: 2px solid #ccc;
    border-radius: 15px;
}

.kontext-bild img {
    position: absolute;

    top: 0;

    width: 100%;
    height: auto;
}

/* 404 SEITE */
.fof {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5em;
}

.fof p {
    font-size: 20rem;
    line-height: 10rem;
    font-weight: bold;
    color: #00ff8b;
}

.rotate {
    transform: rotate(90deg);
    transform-origin: left;
    margin-left: 210px;
    margin-top: -100px;
}

/* FORMULAR */
.formular-container {
    width: 656px;
    height: auto;

    padding: 1em 20px;
    
    background: #f0f0f0;

    overflow: hidden;

    border: 2px solid #ccc;
    border-radius: 15px;
}

.contact-form .form-line {
    width: 400px;
    height: 60px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form label {
    display: block;
    margin-bottom: 1em;
    font-size: 87.5%;
    font-weight: bold;
}

.contact-form label input,
.contact-form label textarea,
.contact-form label select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.2em;
}

.contact-form .form-name {
    width: 180px;
}

.contact-form .form-age {
    width: 50px;
}

.contact-form .form-mail {
    width: 310px;
}

.contact-form .form-message {
    width: 393px;
    resize: none;
}

.contact-form .form-datenschutz {
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 2em 0;
}

.contact-form .form-submit {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
    background: #fff;
    font-weight: bold;
}

.contact-form .form-submit:hover {
    background: #00ff8b;
}

/* FOOTER */
#footer {
    width: 100vw;
    height: auto;

    background: #3b3c3c;
}

#footer .footer-content {
    width: 1200px;
    height: auto;

    margin: 0 auto;
    padding: 2em 0;

    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

#footer .footer-content .footer-text {
    color: #fff;
    font-size: 87.5%;
}

#footer .footer-content .footer-links {
    height: 4.5em;

    margin-right: 8px;

    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

#footer .footer-content .behoerde {
    width: 200px;
    height: auto;
}

/* PRIORITY ADD-ONS */

.red {
    color: red;
}

.white {
    color: white;
    text-decoration: underline;
}

.white:hover {
    color: #00ff8b;
}

.active {
    background: #00ff8b;
}

.active-text {
    color: #00ff8b !important;
}

.highlight {
    font-weight: bold;
}

.plain-text {
    margin-bottom: 1em;
}

.text-container {
    width: 600px;
    padding-right: 100px;
}

.zitat {
    font-style: italic;
}

.quelle {
    float: right;
}

.back-to-top {
    position: fixed;
    z-index: 50;

    width: 50px;
    height: 50px;

    margin-left: 50%;
    left: -25px;
    bottom: 10px;

    background: #3b3c3c;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    opacity: 0.5;
}

.back-to-top:hover {
    cursor: pointer;
    opacity: 1;
    left: -27px;
    border: 2px solid #00ff8b00;
}

.back-to-top img {
    width: 30px;
    height: 30px;
}

.date-button:hover {
    cursor: pointer;
}

/* COLOR MARKS */

.color-01 {
    background: orange;
}

.color-02 {
    background: blue;
}

.color-03 {
    background: green;
}

.color-04 {
    background: red;
}

.color-05 {
    background: pink;
}

.color-06 {
    background: greenyellow;
}

.color-07 {
    background: violet;
}

.color-08 {
    background: purple;
}

.color-09 {
    background: orangered;
}

.color-10 {
    background: blueviolet;
}

/*

_______________________________________________________________

1200 PX UND KLEINER


_______________________________________________________________


*/

@media (max-width: 1199px) {

    /* NAVIGATION FIX < 1200px */
    #main-navi .navi-list {
        /* width: 960px; */
        width: 75vw;
    }
    
    #main-navi .navi-list a li {
        font-size: 1.1em;
    }

    /* HEADER BANNER FIX < 1200px */
    .banner-container .banner-img {
        width: 100vw;
        margin-left: 0;
        left: 0;
    }
    
    .banner-container .banner-info-bg .banner-info {
        width: 100vw;
    }

    /* MAIN INHALT FIX < 1200px */

    #inhalt {
        width: 100vw;
    }
    
    /* FOOTER FIX < 1200px*/

    #footer .footer-content {
        width: 960px;
    }

}

/*

_______________________________________________________________

960 PX UND KLEINER


_______________________________________________________________


*/

@media (max-width: 959px) {

   /* MAIN NAVIGATION FIX < 960px */
    #main-navi .navi-list {
        /* width: 740px; */
        width: 75vw;
    }

    #main-navi .navi-list a li {
        font-size: 1em;
    }

    /* FOOTER FIX < 1200px*/

    #footer .footer-content {
        width: 740px;
    }

}

/*

_______________________________________________________________

740 PX UND KLEINER


_______________________________________________________________


*/

/* MINI QUERY */
@media (max-width: 770px) {
    #header a #logo {
        padding-right: 50px;
    }

    #main-navi .navi-list {
        padding-top: 100px;

        width: 100vw;
        height: auto;

        flex-flow: column;
        align-items: flex-start;
    }
}

@media (max-width: 739px) {

    h1 {
        font-size: 2em;
    }

    /* SPECIAL LINKS FIX < 740px */
    .calendar-link ul {
        width: 330px;
    }

    .calendar-link ul .link-name {
        width: 296px;
    }

    /* HEADER FIX < 740px */
    #header .burgermenu-container {
        margin-right: 22px;
    }

    /* MAIN NAVIGATION FIX < 740px */
    #main-navi {
        height: auto;
    }

    #main-navi .navi-list {
        width: 100vw;
        height: auto;

        flex-flow: column;
        align-items: flex-start;
    }

    #main-navi .navi-list a li {
        margin: 0.5em;
    }

    /* MAIN INHALT FIX < 740px */
    .main-content {
        width: 500px;
    }

    .main-content .main-content-bottom {
        width: 456px;
    }

    .main-content .maps {
        width: 500px;
        height: 300px;
    }

    .main-content .maps iframe {
        width: 496px;
        height: 348px;
    }

    .where .where-top {
        width: 500px;
    }

    .where .where-top .where-tab {
        width: 136px;
    }

    .ueberschrift {
        width: 500px;
    }

    /* SLIDER FIX < 740px */
    .slider {
        flex-wrap: nowrap;

        width: 500px;
        overflow-x: scroll;
    }

    .slide {
        margin: 1em;
    }

    /* CALENDAR FIX < 740px */
    .calendar-top {
        width: 500px;
    }

    .calendar-top .mode {
        width: 500px;
    }

    .calendar-top .mode .cal-mode {
        width: 250px;
    }

    .calendar-top .date-dial {
        width: 500px;
    }

    /* CALENDAR LIST FIX < 740px */
    .event-tab {
        width: 450px;
    }

    .event-tab .event-tab-content {
        width: 346px;

        padding: 10px 50px 20px 20px;
    }

    /* CALENDAR CLASSIC FIX < 740px */

    .calendar-cell {
        font-size: 87.5%;
    }

    /* ZITAT FIX < 740px */
    .main-content .main-content-img {
        width: 496px;
        height: 300px;
    }

    .main-content .main-content-img img {
        width: 496px;
    }

    /* KONTEXT BILDER FIX < 740px */
    .kontext-bild {
        width: 496px;
        height: 266px;
    }

    /* FORMULAR */
    .formular-container {
        width: 456px;
    }

    /* FOOTER FIX < 740px */

    #footer .footer-content {
        width: 500px;
    }

    /* PRIORITY ADD-ONS FIX < 740px */

    .text-container {
        width: 500px;
        padding-right: 0;
    }
 }

/*

_______________________________________________________________

500 PX UND KLEINER
MOBIL VERSION - SMARTPHONE

_______________________________________________________________


*/

@media (max-width: 500px) and (max-height: 830px) {

    a {
        word-wrap:break-word;
    }

    h1 {
        font-size: 1.4em;
    }

    /* SPECIAL LINKS FIX < 500px */
    .special-link ul {
        list-style-type: none;

        width: 150px;
        height: 30px;

        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
    }

    .special-link ul .link-name {
        width: 126px;
        height: 26px;

        background: #fff;
        
        border: 2px solid #ccc;
        border-radius: 10px 0 0 10px;

        font-weight: bold;
        color: #3b3c3c;

        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .fb-link ul {
        width: 250px;
    }

    .fb-link ul .link-name {
        width: 232px;
    }

    .calendar-link ul {
        width: 230px;
    }

    .calendar-link ul .link-name {
        width: 216px;
    }

    /* HEADER FIX < 500px */

    #header a #logo {
        padding-right: 50px;
    }

    #header .burgermenu-container {
        margin-right: 5px;
    }

    /* HEADER BANNER FIX < 500px */

    .banner-container .banner-info-bg .banner-info img {
        width: 90vw;
        height: auto;
    }

    /* MAIN INHALT FIX < 500px */
    .main-content {
        width: 90vw;
    }

    .main-content .main-content-bottom {
        width: 80%;
        padding: 1em 10%;
    }

    .main-content .maps {
        width: 100%;
        height: 200px;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
    }

    .main-content .maps iframe {
        width: 100%;
        height: 250px;
        border: none;
    }

    .where .where-top {
        width: 90vw;
    }

    .where .where-top .where-tab {
        width: 86px;
    }

    .ueberschrift {
        width: 90vw;
    }

    /* SLIDER FIX < 500px */
    .slider {
        flex-wrap: nowrap;

        width: 100vw;
        overflow-x: scroll;
    }

    .slide {
        width: 280px;

        margin: 5%;
    }
    
    .slide .slide-img {
        width: 276px;
    }
    
    .slide .slide-img img {
        width: 276px;
    }
    
    .slide .slide-bottom {
        width: 236px;
    }
    
    .slide .slide-bottom p {
        font-size: 87.5%;
        margin-bottom: 1em;
    }

    /* CALENDAR FIX < 500px */
    .calendar-top {
        width: 90vw;
        border: 2px solid #ccc;
        border-bottom: none;
    }

    .calendar-top .mode {
        width: 90vw;
    }

    .calendar-top .mode .cal-mode {
        width: 45vw;
        border-radius: 12px 12px 0 0;
    }

    .calendar-top .date-dial {
        width: 90vw;
    }

    .calendar-top .date-dial .date-button {
        width: 15%;
        height: 55%;
    
        border-radius: 25px;
    }
    
    .calendar-top .date-dial .date {
        width: 60%;
    }

    .calendar-top .date-dial .date p {
        font-size: 1.2em;
    }
    

    /* CALENDAR LIST FIX < 500px */
    .event-tab {
        width: 100%;
    }

    .event-tab .event-tab-content {
        width: 74%;

        padding: 5% 5% 10% 10%;
    }

    .event-tab .color-mark {
        position: absolute;
        width: 2%;
        top: 0;
        bottom: 0;
        right: 8%;
    }
    
    .event-tab .event-tab-sign {
        position: absolute;
        width: 8%;
        top: 0;
        bottom: 0;
        right: 0;
    
        background: #3b3c3c;
    
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
    }

    .event-tab .event-tab-content .et-titel,
    .event-tab .event-tab-content .et-teaser,
    .event-tab .event-tab-content .et-date,
    .event-tab .event-tab-content .et-slots,
    .event-tab .event-tab-content .et-text {
        font-size: 87.5%;
    }

    .event-tab .event-tab-content .et-teaser,
    .event-tab .event-tab-content .et-date,
    .event-tab .event-tab-content .et-age,
    .event-tab .event-tab-content .et-slots,
    .event-tab .event-tab-content .et-text {
        font-size: 75%;
    }

    /* CALENDAR CLASSIC FIX < 500px */

    .calendar-cell {
        font-size: 87.5%;
        height: 3em;
    }

    .cell-button-bottom-bottom,
    .cell-button-bottom,
    .cell-button-middle,
    .cell-button-top,
    .cell-button-top-top,
    .cell-button-bbl,
    .cell-button-bbr,
    .cell-button {
        color: rgba(0, 0, 0, 0);
    }

    /* ZITAT FIX < 500px */
    .main-content .main-content-img {
        width: 90vw;
        height: 170px;
    }

    .main-content .main-content-img img {
        width: 90vw;
    }

    /* KONTEXT BILDER FIX < 500px */
    .kontext-bild {
        width: 90vw;
        height: 166px;
    }

    /* 404 SEITE FIX < 500px */

    .fof p {
        font-size: 15rem;
    }

    /* FORMULAR FIX < 500px */
    .formular-container {
        width: 80vw;
    }

    .contact-form .form-line {
        width: 100%;
        height: 60px;

        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact-form label {
        display: block;
        margin-bottom: 1em;
        font-size: 87.5%;
        font-weight: bold;
    }

    .contact-form label input,
    .contact-form label textarea,
    .contact-form label select {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0.2em;
    }

    .contact-form .form-name {
        width: 80%;
    }

    .contact-form .form-age {
        width: 30%;
    }

    .contact-form .form-mail {
        width: 80%;
    }

    .contact-form .form-message {
        width: 100%;
        resize: none;
    }

    .contact-form .form-datenschutz {
        font-weight: normal;
        font-style: italic;
        font-size: 80%;
        margin: 2em 0;
    }

    .contact-form .form-submit {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0.2em 0.5em;
        background: #fff;
        font-weight: bold;
    }

    /* FOOTER FIX < 500px */

    #footer .footer-content {
        width: 90vw;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #footer .footer-content .footer-links {
        height: 4.5em;
        width: 100%;
        margin-right: 8px;
    
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* PRIORITY ADD-ONS FIX < 500px */

    .text-container {
        width: 90vw;
        padding-right: 0;
    }
 }

/*

_______________________________________________________________

W 830 PX UND KLEINER
H 500 PX UND KLEINER

_______________________________________________________________


*/

@media (max-width: 830px) and (max-height: 500px) {

    /* MAIN NAVIGATION FIX */
    #main-navi {
        height: auto;
    }

    #main-navi .navi-list {
        width: 100vw;
        height: auto;

        flex-flow: column;
        align-items: flex-start;
    }

    #main-navi .navi-list a li {
        margin: 0.5em;
    }

}
/*

_______________________________________________________________

W 770 PX UND KLEINER
H 1080 PX UND KLEINER

_______________________________________________________________


*/

@media (max-width: 770px) and (max-height: 1080px) {

    /* MAIN NAVIGATION FIX */
    #main-navi {
        height: auto;
    }

    #main-navi .navi-list {
        width: 100vw;
        height: auto;

        flex-flow: column;
        align-items: flex-start;
    }

    #main-navi .navi-list a li {
        margin: 0.5em;
    }
}